<main class="main">

  <div class="center">
    <div class="content">
      <img priority ngSrc="assets/sebLogo.svg" class="over-lapping-icon" height="25" width="25" alt="SEB"/>
      <rate-scroller></rate-scroller>
      <currency-selector
        (currencySelected)="onCurrencySelected($event)"
        (rateSelected)="onRateSelected($event)"
      >
      </currency-selector>
      <div class="sub-content">
        <currency-calculator
          [currentSelectedCurrency]="selectedCurrency"
          [currentSelectedRate]="selectedRate"
        >
        </currency-calculator>
      </div>
    </div>

  </div>
</main>

<router-outlet/>
