<div class="currency-selector">
  <div class="currency-dropdowns">
    <p-dropdown
      [options]="filteredCurrencies"
      [(ngModel)]="selectedCurrency"
      optionLabel="displayName"
      [filter]="true"
      (onFilter)="dropDownFilter($event)"
      (onChange)="onCurrencySelected()"
      variant="filled"
      placeholder="Select a currency">
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
          <div>{{ selectedOption.name }}</div>
        </div>
      </ng-template>
      <ng-template let-currency pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ currency.name }} | {{ currency.code }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    <p-dropdown
      class="date-dropdown"
      *ngIf="selectedCurrency"
      [options]="fromDateChoices"
      [(ngModel)]="selectedFromDate"
      optionLabel="displayName"
      (onChange)="onCurrencySelected()"
    >
      <ng-template let-date pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ date.displayName }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    <div class="history-force">
      <p-checkbox
        pTooltip="Force it to get data from LbLt to save data into DB."
        (onChange)="onCurrencySelected()"
        [(ngModel)]="forceFromLb"
        label="Force LBLT"
        name="Force LBLT"
        [binary]="true" />
    </div>

    <div class="today-rate" *ngIf="selectedCurrencyRate">
      Current Rate: {{ selectedCurrencyRate.rate }}
    </div>
  </div>
  <p-divider/>

  <div class="currency-chart">
    <div *ngIf="isHistoryError" class="chart-error">No history available!</div>
    <p-progressSpinner *ngIf="isChartLoading" class="chart-loader"
      strokeWidth="2"
      fill="var(--surface-ground)"
      animationDuration="1s" />
    <p-chart type="line" [data]="data" [options]="options"/>
  </div>
</div>
